<div class="container mt-5">

  <div class="button" *ngIf = "condition">
    <button type="button" class="btn btn-primary" (click)="addInfromation()">Add information</button>
  </div>

  <div class="form d-flex" style="max-width: 40%;" *ngIf="formVisible">
    <div class="input">
      <input class="form-control form-control-sm" type="text" placeholder="Task Name" style="height: 38px;"  #taskname>
    </div>
    <div class="select" style="margin-left: 10px;">
      <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">Easy</option>
        <option value="2">Medium</option>
        <option value="3">Hard</option>
      </select>
    </div>
    <div class="button2" style="margin-left: 10px;">
      <button type="button" class="btn btn-primary" (click)="addFunction(taskname.value)">Add</button>
    </div>
  </div>

  <div class="kanbard-items mt-5" *ngIf="kanbard">
    <div class="row">
      <div class="To-do col border rounded" style="max-width: 350px;">
        <span class="title mt-5">To-do</span>
          <hr>
          <div class="list" *ngFor="let item of taskName">
            {{item}}
          </div>
          <p>List is empty</p>
        
      </div>
      <div class="In-Progress col border rounded" style="max-width: 350px; margin-left: 2%;">
        <span class="title p-2">In Progress</span>
          <hr>
        List is empty
      </div>
      <div class="Done col border rounded" style="max-width: 350px; margin-left: 2%;">
        <span class="title p-2">Done</span>
          <hr>
        List is empty
      </div>
    </div>
  </div>
</div>